.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.about-us-container {
    margin-bottom: 2em;
}

.aside-img {
    height: 15rem;
}

section {
    float: left;
    margin: 0 1.5%;
    width: 63%;
    text-align: center;
}

aside {
    float: right;
    margin: 0 1.5%;
    width: 30%;
}

.aside-img {
    border-radius: 5em;
    overflow: hidden;
    border: solid 1px #000;
}
