* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

header {
    margin-bottom: 50px;
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    background: #004900;
    font-size: 1.1em;
}

.navigation a {
    text-decoration: none;
    display: flex;
    padding: 1em;
    color: white;
}

.navigation li:hover {
    background: #002500;
}

.active {
    background: #002500;
}

.navigation ul {
    margin: 0;
}

.navigation li {
    list-style: none;
    display: inline-flex;
    height: 85px;
    align-items: center;
}

.logo {
    height: 75px;
    position: relative;
    left: 25px;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
}

.menu-icon > img {
    width: 85px;
    position: relative;
    right: 10px;
    height: auto;
    object-fit: cover;
    cursor: pointer;
}

@media (max-width: 750px) {
    .card {
        margin-left: 50px;
        margin-right: 50px;
    }

    .menu-list {
        display: none;
    }

    .menu-icon {
        display: flex;
    }
}

@media (min-width: 750px) {

    .menu-icon {
        display: none;
    }

    .menu-list {
        display: flex;
    }
}

.title-name {
    color: #b9922f;
    font-family: 'Antic-Didone', open-sans, sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
}

.welcome {
    width: 500px;
    position: relative;
    left: 50px;
    border: solid 3px #AAAE7F;
    border-radius: 10px;
    background-color: #D0D6B3;
}

.welcome > * {
    padding: 10px;
}