/* Colorcodes:
Green 002500
Grey BFBDC1
Mindaro DBFE87
Dark Cornflower Blue 1C448E
Wine 632B30
 */

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

header {
    display: flex;
}
.open {
    /*
    position: fixed;
    */
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 100;
}

.open .layer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: top;
    animation: open 1s ease-in-out forwards;
}

.open .layer:nth-child(1) {
    background-color: #000;
    z-index: 2;
}

.open .layer:nth-child(2) {
    background-color: #002500;
    animation-delay: 1s;
    z-index: 1;
}

@keyframes open {
    0% {
        transform: scaleY(1);
    }
    100% {
        transform: scaleY(0);
    }
}

section {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    display: grid;
    align-items: center;
    justify-content: center;
}

.bannerText {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    max-width: 700px;
}

.bannerText h2, .bannerText h3 {
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    transform-origin: left;
    text-transform: uppercase;
    transform: scaleX(0);
    animation: revealTextReverse 1s ease-in-out forwards;
}

.bannerText h2 {
    font-size: 5em;
    animation-delay: 2s;
}

.bannerText h3{
    font-size: 2.5rem;
    animation-delay: 3s;
}

.bannerText h2:before,
.bannerText h3:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    transform-origin: right;
    animation: revealText 1s ease-in-out forwards;
    animation-delay: 3s;
}

.bannerText h3:before {
    animation-delay: 4s;
}

@keyframes revealText {
    0% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0);
    }
}

@keyframes revealTextReverse {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

.bannerText p {
    opacity: 0;
    font-weight: 300;
    font-size: 1.2rem;
    animation: fadeIn 1s linear forwards;
    animation-delay: 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.bannerText a {
    opacity: 0;
    display: inline-block;
    margin: 20px 0 0;
    padding: 10px 20px;
    background-color: black;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 1px;
    animation: fadeInBottom 0.5s linear forwards;
    animation-delay: 5.5s;
}

@keyframes fadeInBottom {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.logo {
    opacity: 0;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    animation: fadeIn 1s linear forwards;
    animation-delay: 6s;
    height: 450px;
}
